html, body {
    margin: 0;
    padding: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


#game-box {
    float: left;
    width: 800px;
    height: 630px;
    border: 1px solid #000;
    background: url(img/bg3.jpg) no-repeat;
    background-size: 100% 100%;
}

#player1, #player2, #player3 {
    width: 70px;
    height: 50px;
    color: #ffeb3b;
}

#player3 {
    margin-left: 12px;
}

#player1 img, #player2 img, #player3 img {
    width: 50px;
}

#player2, #playCard2, #playCard0, #playCardPanel {
    margin: 10px auto;
}


#playCard0, #playCard2 {
    text-align: center;
}

#player23-box {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

#player3-box, #player1-box {
    width: 40%;
}

#playCard0, #playCard1, #playCard2, #playCard3 {
    height: 50px;
}

#playCardPanel {
    text-align: center;
}


#player2-card, #player3-card, #player1-card,#player0-card {
    height: 50px;
    margin: 20px;
    position: relative;
}

#player1-card {
    clear: both;
    text-align: right;
    margin-top: 90px;
    margin-right: 40px;
}

#player2-card, #player0-card {
    text-align: center;
}

.card-box {
    width: 20px;
    height: 50px;
    position: relative;
    text-align: left;
}

.card-box img {
    position: absolute;
    top: 0;
}

#message{
    color: red;
}


#gameInfo {
    float: left;
}

#holeCards {
    margin-top: 20px;
}