html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfloat {
    width: 0;
    height: 0;
    overflow: hidden;
}

#game-box {
    /* 注意,旋转方向后的box的宽高方向依然保持旋转前的宽高 ，所以旋转后的宽高和实际的宽高显示有区别*/
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(img/bg3.jpg) no-repeat;
    background-size: 100% 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-touch-callout: none;
}

/* orientation:landscape代表宽的长度大于高的长度 */
@media (orientation:landscape) {
    #game-box {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}


#player1, #player2, #player3 {
    width: 70px;
    height: 50px;
    color: #ffeb3b;
}

#player3 {
    margin-left: 12px;
}

#player0 img, #player1 img, #player2 img, #player3 img {
    width: 50px;
}

#player0 {
    position: absolute;
    left: 12px;
    top: 20px;
}

#player2, #playCard2, #playCard0, #playCardPanel {
    margin: 10px auto;
}


#playCard0, #playCard2 {
    text-align: center;
}

#player23-box {
    position: absolute;
    top: calc(50vw - 50px);
    width: 100%;
    margin-bottom: 90px;
}

/* orientation:landscape代表宽的长度大于高的长度 */
@media (orientation:landscape) {
    #player23-box {
        position: absolute;
        top: calc(50vh - 50px);
        width: 100%;
        margin-bottom: 90px;
    }
}

#player3-box, #player1-box {
    width: 40%;
}

#playCard0, #playCard1, #playCard3 {
    height: 50px;
}
#playCard2 {
    height: calc(30vh - 50px);
}
/* orientation:landscape代表宽的长度大于高的长度 */
@media (orientation:landscape) {
    #playCard2 {
        height: calc(30vw - 50px);
    }
}

#playCardPanel {
    text-align: center;
}


#player2-card, #player3-card, #player1-card,#player0-card {
    height: 50px;
    margin: 20px;
    position: relative;
}

#player0-card {
    margin-bottom: 10px;
}

#player0-box {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#player1-card {
    clear: both;
    text-align: right;
    margin-top: 90px;
    margin-right: 40px;
}

#player2-card, #player0-card {
    text-align: center;
}

#player2-card, #player3-card, #player1-card {
    display: none;
}

.card-box {
    width: 20px;
    height: 50px;
    position: relative;
    text-align: left;
}

.card-box img {
    position: absolute;
    top: 0;
    left: -9px;
}

#message{
    color: red;
}

#playCard {
    display: inline-block;
    width: 40px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #8c96a0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
    border-radius: 5px;
    font-weight: bold;
}


#gameInfo {
    position: absolute;
    left: 20px;
    top: 20px;
}

#holeCards {
    margin-top: 20px;
}


#highLightMaster {
    width: 256px;
    height: 30px;
    background: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0 0 2px #EEE;
    text-align: center;
    margin: 10px auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.suit {
    position: relative;
    float: left;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 30px;
    color:#666;
    border-right: 1px solid #999;
}

.suit.clubs {
    border-right: none;
}

.suit .suitNum {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 10px;
    color: #333;
    line-height: 10px;
}